<div class="o-page-banner {{ data.short ? '-short' }}">
    <div class="o-page-banner__img">
        <figure>
            <img src="{{ data.left.url }}" alt="{{ data.left.alt }}">
        </figure>
    </div>
    <div class="o-page-banner__img">
        <figure>
            <img src="{{ data.right.url }}" alt="{{ data.right.alt }}">
        </figure>
    </div>
    <div class="o-page-banner__title container">
        <h3>{{ data.title }}</h3>
        <h2 class="-en">{{ data.title_en }}</h2>
    </div>
</div>